{% extends 'blog/main.html' %}

{% block main_section %}
  <h2 class="test">Testați alegerea limbajului de programare</h2>
  <div class="alert alert-light">
    <p>Doriți să începeți să învățați programarea, dar nu știți de unde să începeți? Treceți un test mic în care veți afla limbajul de programare cel mai potrivit pentru dvs.!</p>
  <h4 align="center">Pentru ce vrei să înveți programarea?</h4>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3" align="center">
        <a class="nav-link" href="#">
        <img src="https://itproger.com/img/lang_test/games.png" alt="Crearea de jocuri">
        <p class="paragraf">Crearea de jocuri</p>
        </a>
      </div>
      <div class="col-md-4 mb-3" align="center">
        <a class="nav-link" href="#">
        <img src="https://itproger.com/img/lang_test/mobile.png" alt="Aplicatii mobile">
        <p class="paragraf">Aplicatii mobile</p>
        </a>
      </div>
      <div class="col-md-4 mb-3" align="center">
        <a class="nav-link" href="#">
        <img src="https://itproger.com/img/lang_test/web.png" alt="Web design">
        <p class="paragraf">Web developer</p>
        </a>
      </div>
      <div class="col-md-4 mb-3" align="center">
        <a class="nav-link" href="#">
        <img src="https://itproger.com/img/lang_test/comp.png" alt="Aplicatii pentru calculator">
        <p class="paragraf">Aplicatii pentru calculator</p>
        </a>
      </div>
      <div class="col-md-4 mb-3" align="center">
        <a class="nav-link" href="#">
        <img src="https://itproger.com/img/lang_test/data.png" alt="Prelucrarea datelor">
        <p class="paragraf"> Prelucrarea datelor</p>
        </a>
      </div>
      <div class="col-md-4 mb-3" align="center">
        <a class="nav-link" href="#" >
        <img src="https://itproger.com/img/lang_test/robot.png" alt="Crearea inteligenței artificiale">
        <p class="paragraf">Crearea inteligenței artificiale</p>
        </a>
      </div>
    </div>
  </div>
  </div>
{% endblock main_section%}

{% block aside_news_section %}
    <h3><b>Article</b></h3>
    <img src="https://images.globes.co.il/images/NewGlobes/big_image_800/2015/tech800.jpg" class="img-thumbnail mb-1">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, animi!</p>
    <a href="#" target="_blank">
      <button class="btn btn-warning">View</button>
    </a>
{% endblock aside_news_section %}
